// primary colors
$intro-and-email-bg: hsl(217, 28%, 15%);
$main-bg: hsl(218, 28%, 13%);
$footer-bg: hsl(216, 53%, 9%);
$testimonials-bg: hsl(219, 30%, 18%); 

// accent colors
$Cyan-gradient: hsl(176, 68%, 64%); // inside call-to-action gradient
$Blue-gradient: hsl(198, 60%, 50%); // inside call-to-action gradient
$Light-red: hsl(0, 100%, 63%); // error

// neutral color
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 75%);